<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

<div class="pull-right btn-group">
    {% if follow == None %}
        <a href="/blog/" class="btn btn-mini btn-primary">login</a>
    {% else %}
        {% if follow %}
            <a href="/blog/{{ blog.id }}/unfollow/" class="btn btn-mini btn-danger">Unfollow</a>
        {% else %}
            <a href="/blog/{{ blog.id }}/follow/" class="btn btn-mini btn-primary">Follow</a>
        {% endif %}
        <a href="/blog/logout/" class="btn btn-mini btn-danger">logout</a>
    {% endif %}
</div>

<h1>Welcome to {{ blog.user.username }}'s blog</h1>
<p>This blog has {{ blog.no_of_views }} views ;)</p>

{% if blog.user == user %}
    <a href="/blog/{{ blog.id }}/delete/" class="btn btn-danger btn-mini">delete blog</a>
{% endif %}

{% if posts %}
	<h3>Posts:-</h3>
    <ul>
    {% for post in posts %}
        <li>
        	<a href="/blog/post/{{ post.id }}/" class="btn btn-link btn-large">{{ post.title }}</a>
       		{% if post.user == user %}
               <a href="/blog/post/{{ post.id }}/delete/" class="btn btn-danger btn-mini">delete</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>There are no posts available yet</p>
{% endif %}

{% if form %}
    <h3>new post:</h3>
    <form class="navbar-form pull-left" action="/blog/{{ blog.id }}/post/create/" method="POST">{% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary btn-mini" value="add post">
    </form>
{% endif %}